openapi: 3.0.2
info:
  contact:
    email: developers@klaviyo.com
    name: Klaviyo Developer Experience Team
    url: https://developers.klaviyo.com
  description: The Klaviyo REST API. Please visit https://developers.klaviyo.com for
    more details.
  license:
    name: License
    url: https://www.klaviyo.com/legal
  termsOfService: https://www.klaviyo.com/legal/api-terms
  title: Klaviyo API
  version: 2024-02-15
servers:
- description: Production
  url: https://a.klaviyo.com
security:
- Klaviyo-API-Key: []
tags:
- description: accounts
  name: Accounts
- description: campaigns
  name: Campaigns
- description: catalogs
  name: Catalogs
- description: conversations
  name: Conversations
- description: coupons
  name: Coupons
- description: data privacy
  name: Data Privacy
- description: events
  name: Events
- description: flows
  name: Flows
- description: images
  name: Images
- description: lists
  name: Lists
- description: metrics
  name: Metrics
- description: profiles
  name: Profiles
- description: reporting
  name: Reporting
- description: segments
  name: Segments
- description: tags
  name: Tags
- description: templates
  name: Templates
- description: webhooks
  name: Webhooks
- description: client
  name: Client
paths:
  /api/accounts/:
    get:
      description: |-
        Retrieve the account(s) associated with a given private API key. This will return 1 account object within the array.

        You can use this to retrieve account-specific data (contact information, timezone, currency, Public API key, etc.) or test if a Private API Key belongs to the correct account prior to performing subsequent actions with the API.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`

        **Scopes:**
        `accounts:read`
      operationId: get_accounts
      parameters:
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[account]"
        required: false
        schema:
          items:
            enum:
            - test_account
            - contact_information
            - contact_information.default_sender_name
            - contact_information.default_sender_email
            - contact_information.website_url
            - contact_information.organization_name
            - contact_information.street_address
            - contact_information.street_address.address1
            - contact_information.street_address.address2
            - contact_information.street_address.city
            - contact_information.street_address.region
            - contact_information.street_address.country
            - contact_information.street_address.zip
            - industry
            - timezone
            - preferred_currency
            - public_api_key
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Accounts
      tags:
      - Accounts
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 1/s
        steady: 15/m
      x-klaviyo-scopes:
      - accounts:read
  /api/accounts/{id}/:
    get:
      description: |-
        Retrieve a single account object by its account ID. You can only request the account by which the private API key was generated.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`

        **Scopes:**
        `accounts:read`
      operationId: get_account
      parameters:
      - description: The ID of the account
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the account
          example: AbC123
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[account]"
        required: false
        schema:
          items:
            enum:
            - test_account
            - contact_information
            - contact_information.default_sender_name
            - contact_information.default_sender_email
            - contact_information.website_url
            - contact_information.organization_name
            - contact_information.street_address
            - contact_information.street_address.address1
            - contact_information.street_address.address2
            - contact_information.street_address.city
            - contact_information.street_address.region
            - contact_information.street_address.country
            - contact_information.street_address.zip
            - industry
            - timezone
            - preferred_currency
            - public_api_key
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Account
      tags:
      - Accounts
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 1/s
        steady: 15/m
      x-klaviyo-scopes:
      - accounts:read
  /api/campaigns/:
    get:
      description: |-
        Returns some or all campaigns based on filters.

        A channel filter is required to list campaigns. Please provide either:
        `?filter=equals(messages.channel,'email')` to list email campaigns, or
        `?filter=equals(messages.channel,'sms')` to list SMS campaigns.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaigns
      parameters:
      - description: "For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#filtering<br>Allowed\
          \ field(s)/operator(s):<br>`messages.channel`: `equals`<br>`name`: `contains`<br>`status`:\
          \ `any`, `equals`<br>`archived`: `equals`<br>`created_at`: `greater-or-equal`,\
          \ `greater-than`, `less-or-equal`, `less-than`<br>`scheduled_at`: `greater-or-equal`,\
          \ `greater-than`, `less-or-equal`, `less-than`<br>`updated_at`: `greater-or-equal`,\
          \ `greater-than`, `less-or-equal`, `less-than`"
        explode: true
        in: query
        name: filter
        required: true
        schema:
          example: "equals(messages.channel,'sms')"
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-message]"
        required: false
        schema:
          items:
            enum:
            - label
            - channel
            - content
            - send_times
            - render_options
            - render_options.shorten_links
            - render_options.add_org_prefix
            - render_options.add_info_link
            - render_options.add_opt_out_language
            - created_at
            - updated_at
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign]"
        required: false
        schema:
          items:
            enum:
            - name
            - status
            - archived
            - audiences
            - audiences.included
            - audiences.excluded
            - send_options
            - tracking_options
            - send_strategy
            - send_strategy.method
            - send_strategy.options_static
            - send_strategy.options_static.datetime
            - send_strategy.options_static.is_local
            - send_strategy.options_static.send_past_recipients_immediately
            - send_strategy.options_throttled
            - send_strategy.options_throttled.datetime
            - send_strategy.options_throttled.throttle_percentage
            - send_strategy.options_sto
            - send_strategy.options_sto.date
            - created_at
            - scheduled_at
            - updated_at
            - send_time
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[tag]"
        required: false
        schema:
          items:
            enum:
            - name
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - campaign-messages
            - tags
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sorting
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created_at
          - -created_at
          - id
          - -id
          - name
          - -name
          - scheduled_at
          - -scheduled_at
          - updated_at
          - -updated_at
          type: string
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponseCollectionCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaigns
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Campaigns
    post:
      description: |-
        Creates a campaign given a set of parameters, then returns it.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: create_campaign
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreateQuery'
        description: Creates a campaign from parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Campaigns
  /api/campaigns/{id}/:
    delete:
      description: |-
        Delete a campaign with the given campaign ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: delete_campaign
      parameters:
      - description: The campaign ID to be deleted
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The campaign ID to be deleted
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Delete Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Campaigns
    get:
      description: |-
        Returns a specific campaign based on a required id.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign
      parameters:
      - description: The campaign ID to be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The campaign ID to be retrieved
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-message]"
        required: false
        schema:
          items:
            enum:
            - label
            - channel
            - content
            - send_times
            - render_options
            - render_options.shorten_links
            - render_options.add_org_prefix
            - render_options.add_info_link
            - render_options.add_opt_out_language
            - created_at
            - updated_at
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign]"
        required: false
        schema:
          items:
            enum:
            - name
            - status
            - archived
            - audiences
            - audiences.included
            - audiences.excluded
            - send_options
            - tracking_options
            - send_strategy
            - send_strategy.method
            - send_strategy.options_static
            - send_strategy.options_static.datetime
            - send_strategy.options_static.is_local
            - send_strategy.options_static.send_past_recipients_immediately
            - send_strategy.options_throttled
            - send_strategy.options_throttled.datetime
            - send_strategy.options_throttled.throttle_percentage
            - send_strategy.options_sto
            - send_strategy.options_sto.date
            - created_at
            - scheduled_at
            - updated_at
            - send_time
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[tag]"
        required: false
        schema:
          items:
            enum:
            - name
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - campaign-messages
            - tags
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponseCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Campaigns
    patch:
      description: |-
        Update a campaign with the given campaign ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: update_campaign
      parameters:
      - description: The campaign ID to be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The campaign ID to be retrieved
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignPartialUpdateQuery'
        description: Update a campaign and return it
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCampaignResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Campaigns
  /api/campaign-messages/{id}/:
    get:
      description: |-
        Returns a specific message based on a required id.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_message
      parameters:
      - description: The message ID to be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The message ID to be retrieved
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-message]"
        required: false
        schema:
          items:
            enum:
            - label
            - channel
            - content
            - send_times
            - render_options
            - render_options.shorten_links
            - render_options.add_org_prefix
            - render_options.add_info_link
            - render_options.add_opt_out_language
            - created_at
            - updated_at
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign]"
        required: false
        schema:
          items:
            enum:
            - name
            - status
            - archived
            - audiences
            - audiences.included
            - audiences.excluded
            - send_options
            - tracking_options
            - send_strategy
            - send_strategy.method
            - send_strategy.options_static
            - send_strategy.options_static.datetime
            - send_strategy.options_static.is_local
            - send_strategy.options_static.send_past_recipients_immediately
            - send_strategy.options_throttled
            - send_strategy.options_throttled.datetime
            - send_strategy.options_throttled.throttle_percentage
            - send_strategy.options_sto
            - send_strategy.options_sto.date
            - created_at
            - scheduled_at
            - updated_at
            - send_time
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[template]"
        required: false
        schema:
          items:
            enum:
            - name
            - editor_type
            - html
            - text
            - created
            - updated
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - campaign
            - template
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignMessageResponseCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Message
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Messages
    patch:
      description: |-
        Update a campaign message<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: update_campaign_message
      parameters:
      - description: The message ID to be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The message ID to be retrieved
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignMessagePartialUpdateQuery'
        description: Update a message and return it
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCampaignMessageResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Campaign Message
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Messages
  /api/campaign-send-jobs/{id}/:
    get:
      description: |-
        Get a campaign send job<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_send_job
      parameters:
      - description: The ID of the campaign to send
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the campaign to send
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-send-job]"
        required: false
        schema:
          items:
            enum:
            - status
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSendJobResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Send Job
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Jobs
    patch:
      description: |-
        Permanently cancel the campaign, setting the status to CANCELED or
        revert the campaign, setting the status back to DRAFT<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: update_campaign_send_job
      parameters:
      - description: The ID of the currently sending campaign to cancel or revert
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the currently sending campaign to cancel or revert
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSendJobPartialUpdateQuery'
        description: |-
          Permanently cancel the campaign, setting the status to CANCELED or
          revert the campaign, setting the status back to DRAFT
        required: true
      responses:
        "204":
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Campaign Send Job
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Jobs
  /api/campaign-recipient-estimation-jobs/{id}/:
    get:
      description: |-
        Retrieve the status of a recipient estimation job triggered
        with the `Create Campaign Recipient Estimation Job` endpoint.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_recipient_estimation_job
      parameters:
      - description: The ID of the campaign to get recipient estimation status
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the campaign to get recipient estimation status
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-recipient-estimation-job]"
        required: false
        schema:
          items:
            enum:
            - status
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRecipientEstimationJobResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Recipient Estimation Job
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Jobs
  /api/campaign-recipient-estimations/{id}/:
    get:
      description: |-
        Get the estimated recipient count for a campaign with the provided campaign ID.
        You can refresh this count by using the `Create Campaign Recipient Estimation Job` endpoint.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_recipient_estimation
      parameters:
      - description: The ID of the campaign for which to get the estimated number
          of recipients
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the campaign for which to get the estimated number
            of recipients
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-recipient-estimation]"
        required: false
        schema:
          items:
            enum:
            - estimated_recipient_count
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRecipientEstimationResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Recipient Estimation
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Campaigns
  /api/campaign-clone/:
    post:
      description: |-
        Clones an existing campaign, returning a new campaign based on the original with a new ID and name.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: create_campaign_clone
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCloneQuery'
        description: Clones a campaign from an existing campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Campaign Clone
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Campaigns
  /api/campaign-message-assign-template/:
    post:
      description: |-
        Creates a non-reusable version of the template and assigns it to the message.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: create_campaign_message_assign_template
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignMessageAssignTemplateQuery'
        description: "Takes a reusable template, clones it, and assigns the non-reusable\
          \ clone to the message."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignMessageResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Assign Campaign Message Template
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Messages
  /api/campaign-send-jobs/:
    post:
      description: |-
        Trigger a campaign to send asynchronously<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: create_campaign_send_job
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSendJobCreateQuery'
        description: Trigger the campaign to send asynchronously
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignSendJobResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Campaign Send Job
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Jobs
  /api/campaign-recipient-estimation-jobs/:
    post:
      description: |-
        Trigger an asynchronous job to update the estimated number of recipients
        for the given campaign ID. Use the `Get Campaign Recipient Estimation
        Job` endpoint to retrieve the status of this estimation job. Use the
        `Get Campaign Recipient Estimation` endpoint to retrieve the estimated
        recipient count for a given campaign.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:write`
      operationId: create_campaign_recipient_estimation_job
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRecipientEstimationJobCreateQuery'
        description: |-
          Trigger an asynchronous job to update the estimated number of recipients
          for the given campaign ID. Use the `Get Campaign Recipient Estimation
          Job` endpoint to retrieve the status of this estimation job. Use the
          `Get Campaign Recipient Estimation` endpoint to retrieve the estimated
          recipient count for a given campaign.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignRecipientEstimationJobResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Campaign Recipient Estimation Job
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:write
      x-klaviyo-subtag: Jobs
  /api/campaign-messages/{id}/relationships/campaign/:
    get:
      description: |-
        Returns the ID of the related campaign<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_message_relationships_campaign
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignMessageCampaignRelationshipListResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Message Relationships Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Relationships
  /api/campaign-messages/{id}/campaign/:
    get:
      description: |-
        Return the related campaign<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_message_campaign
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign]"
        required: false
        schema:
          items:
            enum:
            - name
            - status
            - archived
            - audiences
            - audiences.included
            - audiences.excluded
            - send_options
            - tracking_options
            - send_strategy
            - send_strategy.method
            - send_strategy.options_static
            - send_strategy.options_static.datetime
            - send_strategy.options_static.is_local
            - send_strategy.options_static.send_past_recipients_immediately
            - send_strategy.options_throttled
            - send_strategy.options_throttled.datetime
            - send_strategy.options_throttled.throttle_percentage
            - send_strategy.options_sto
            - send_strategy.options_sto.date
            - created_at
            - scheduled_at
            - updated_at
            - send_time
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Message Campaign
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Campaigns
  /api/campaign-messages/{id}/relationships/template/:
    get:
      description: |-
        Returns the ID of the related template<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
        `templates:read`
      operationId: get_campaign_message_relationships_template
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignMessageTemplateRelationshipListResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Message Relationships Template
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      - templates:read
      x-klaviyo-subtag: Relationships
  /api/campaign-messages/{id}/template/:
    get:
      description: |-
        Return the related template<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
        `templates:read`
      operationId: get_campaign_message_template
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[template]"
        required: false
        schema:
          items:
            enum:
            - name
            - editor_type
            - html
            - text
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplateResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Message Template
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      - templates:read
      x-klaviyo-subtag: Campaigns
  /api/campaigns/{id}/relationships/tags/:
    get:
      description: |-
        Returns the IDs of all tags associated with the given campaign.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`

        **Scopes:**
        `campaigns:read`
        `tags:read`
      operationId: get_campaign_relationships_tags
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignTagRelationshipListResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Relationships Tags
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - campaigns:read
      - tags:read
      x-klaviyo-subtag: Relationships
  /api/campaigns/{id}/tags/:
    get:
      description: |-
        Return all tags that belong to the given campaign.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`

        **Scopes:**
        `campaigns:read`
        `tags:read`
      operationId: get_campaign_tags
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[tag]"
        required: false
        schema:
          items:
            enum:
            - name
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Tags
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - campaigns:read
      - tags:read
      x-klaviyo-subtag: Campaigns
  /api/campaigns/{id}/relationships/campaign-messages/:
    get:
      description: |-
        Returns the IDs of all messages associated with the given campaign.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_relationships_campaign_messages
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignMessagesRelationshipListResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Relationships Campaign Messages
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Relationships
  /api/campaigns/{id}/campaign-messages/:
    get:
      description: |-
        Return all messages that belong to the given campaign.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`

        **Scopes:**
        `campaigns:read`
      operationId: get_campaign_campaign_messages
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign-message]"
        required: false
        schema:
          items:
            enum:
            - label
            - channel
            - content
            - send_times
            - render_options
            - render_options.shorten_links
            - render_options.add_org_prefix
            - render_options.add_info_link
            - render_options.add_opt_out_language
            - created_at
            - updated_at
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[campaign]"
        required: false
        schema:
          items:
            enum:
            - name
            - status
            - archived
            - audiences
            - audiences.included
            - audiences.excluded
            - send_options
            - tracking_options
            - send_strategy
            - send_strategy.method
            - send_strategy.options_static
            - send_strategy.options_static.datetime
            - send_strategy.options_static.is_local
            - send_strategy.options_static.send_past_recipients_immediately
            - send_strategy.options_throttled
            - send_strategy.options_throttled.datetime
            - send_strategy.options_throttled.throttle_percentage
            - send_strategy.options_sto
            - send_strategy.options_sto.date
            - created_at
            - scheduled_at
            - updated_at
            - send_time
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[template]"
        required: false
        schema:
          items:
            enum:
            - name
            - editor_type
            - html
            - text
            - created
            - updated
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - campaign
            - template
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignMessageResponseCollectionCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Campaign Campaign Messages
      tags:
      - Campaigns
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - campaigns:read
      x-klaviyo-subtag: Campaigns
  /api/catalog-items/:
    get:
      description: |-
        Get all catalog items in an account.

        Catalog items can be sorted by the following fields, in ascending and descending order:
        `created`

        Currently, the only supported integration type is `$custom`, and the only supported catalog type is `$default`.

        Returns a maximum of 100 items per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_items
      parameters:
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-item]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-variant]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - sku
            - inventory_policy
            - inventory_quantity
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#filtering<br>Allowed\
          \ field(s)/operator(s):<br>`ids`: `any`<br>`category.id`: `equals`<br>`title`:\
          \ `contains`<br>`published`: `equals`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - variants
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sorting
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created
          - -created
          type: string
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogItemResponseCollectionCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Items
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Items
    post:
      description: |-
        Create a new catalog item.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: create_catalog_item
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogItemCreateQuery'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCatalogItemResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Catalog Item
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Items
  /api/catalog-items/{id}/:
    delete:
      description: |-
        Delete a catalog item with the given item ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: delete_catalog_item
      parameters:
      - description: "The catalog item ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog item ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Delete Catalog Item
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Items
    get:
      description: |-
        Get a specific catalog item with the given item ID.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_item
      parameters:
      - description: "The catalog item ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog item ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-item]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-variant]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - sku
            - inventory_policy
            - inventory_quantity
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#relationships
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - variants
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogItemResponseCompoundDocument'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Item
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Items
    patch:
      description: |-
        Update a catalog item with the given item ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: update_catalog_item
      parameters:
      - description: "The catalog item ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog item ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogItemUpdateQuery'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCatalogItemResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Catalog Item
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Items
  /api/catalog-variants/:
    get:
      description: |-
        Get all variants in an account.

        Variants can be sorted by the following fields, in ascending and descending order:
        `created`

        Currently, the only supported integration type is `$custom`, and the only supported catalog type is `$default`.

        Returns a maximum of 100 variants per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_variants
      parameters:
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-variant]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - sku
            - inventory_policy
            - inventory_quantity
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#filtering<br>Allowed\
          \ field(s)/operator(s):<br>`ids`: `any`<br>`item.id`: `equals`<br>`sku`:\
          \ `equals`<br>`title`: `contains`<br>`published`: `equals`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sorting
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created
          - -created
          type: string
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogVariantResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Variants
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Variants
    post:
      description: |-
        Create a new variant for a related catalog item.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: create_catalog_variant
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogVariantCreateQuery'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCatalogVariantResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Catalog Variant
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Variants
  /api/catalog-variants/{id}/:
    delete:
      description: |-
        Delete a catalog item variant with the given variant ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: delete_catalog_variant
      parameters:
      - description: "The catalog variant ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog variant ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1-VARIANT-MEDIUM
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Delete Catalog Variant
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Variants
    get:
      description: |-
        Get a catalog item variant with the given variant ID.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_variant
      parameters:
      - description: "The catalog variant ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog variant ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1-VARIANT-MEDIUM
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-variant]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - title
            - description
            - sku
            - inventory_policy
            - inventory_quantity
            - price
            - url
            - image_full_url
            - image_thumbnail_url
            - images
            - custom_metadata
            - published
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogVariantResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Variant
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Variants
    patch:
      description: |-
        Update a catalog item variant with the given variant ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: update_catalog_variant
      parameters:
      - description: "The catalog variant ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog variant ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-ITEM-1-VARIANT-MEDIUM
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogVariantUpdateQuery'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCatalogVariantResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Catalog Variant
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Variants
  /api/catalog-categories/:
    get:
      description: |-
        Get all catalog categories in an account.

        Catalog categories can be sorted by the following fields, in ascending and descending order:
        `created`

        Currently, the only supported integration type is `$custom`, and the only supported catalog type is `$default`.

        Returns a maximum of 100 categories per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_categories
      parameters:
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-category]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - name
            - updated
            type: string
          type: array
        style: form
      - description: "For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#filtering<br>Allowed\
          \ field(s)/operator(s):<br>`ids`: `any`<br>`item.id`: `equals`<br>`name`:\
          \ `contains`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sorting
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created
          - -created
          type: string
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogCategoryResponseCollection'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Categories
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Categories
    post:
      description: |-
        Create a new catalog category.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: create_catalog_category
      parameters:
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogCategoryCreateQuery'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCatalogCategoryResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Create Catalog Category
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Categories
  /api/catalog-categories/{id}/:
    delete:
      description: |-
        Delete a catalog category using the given category ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: delete_catalog_category
      parameters:
      - description: "The catalog category ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog category ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-CATEGORY-APPAREL
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Delete Catalog Category
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Categories
    get:
      description: |-
        Get a catalog category with the given category ID.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_catalog_category
      parameters:
      - description: "The catalog category ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog category ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-CATEGORY-APPAREL
          type: string
        style: simple
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-category]"
        required: false
        schema:
          items:
            enum:
            - external_id
            - name
            - updated
            type: string
          type: array
        style: form
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogCategoryResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Get Catalog Category
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 350/s
        steady: 3500/m
      x-klaviyo-scopes:
      - catalogs:read
      x-klaviyo-subtag: Categories
    patch:
      description: |-
        Update a catalog category with the given category ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`

        **Scopes:**
        `catalogs:write`
      operationId: update_catalog_category
      parameters:
      - description: "The catalog category ID is a compound ID (string), with format:\
          \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
          \ integration type is `$custom`, and the only supported catalog is `$default`."
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The catalog category ID is a compound ID (string), with format:\
            \ `{integration}:::{catalog}:::{external_id}`. Currently, the only supported\
            \ integration type is `$custom`, and the only supported catalog is `$default`."
          example: $custom:::$default:::SAMPLE-DATA-CATEGORY-APPAREL
          type: string
        style: simple
      - description: "API endpoint revision (format: YYYY-MM-DD[.suffix])"
        explode: false
        in: header
        name: revision
        required: true
        schema:
          default: 2024-02-15
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogCategoryUpdateQuery'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCatalogCategoryResponse'
          description: Success
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_accounts_4XX_response'
          description: Server Error
      summary: Update Catalog Category
      tags:
      - Catalogs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 700/m
      x-klaviyo-scopes:
      - catalogs:write
      x-klaviyo-subtag: Categories
  /api/catalog-item-bulk-create-jobs/:
    get:
      description: |-
        Get all catalog item bulk create jobs.

        Returns a maximum of 100 jobs per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`

        **Scopes:**
        `catalogs:read`
      operationId: get_create_items_jobs
      parameters:
      - description: For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#sparse-fieldsets
        explode: false
        in: query
        name: "fields[catalog-item-bulk-create-job]"
        required: false
        schema:
          items:
            enum:
            - status
            - created_at
            - total_count
            - completed_count
            - failed_count
            - completed_at
            - errors
            - expires_at
[...]
